github "dekatotoro/SlideMenuControllerSwift"
github "Alamofire/Alamofire" ~> 4.3
github "scalessec/Toast-Swift" ~> 2.0.0
github "skywinder/ActionSheetPicker-3.0"
github "SwiftyJSON/SwiftyJSON"
github "jdg/MBProgressHUD" ~> 1.0.0
github "ermalkaleci/CarbonKit"
github "kevin0571/STPopup"
github "DavydLiu/DLRadioButton" ~> 1.4
github "hackiftekhar/IQKeyboardManager"